.message {
    cursor: pointer;
    background-color: transparent;
    box-shadow: 0 -1px gray, inset 0 -1px gray;
    margin: 0 1vw;
    padding: 1vw;
    width: 90%;
}


.unread-dot{
    color: #4d33d3;
}
.unread-dot.read{
    visibility: hidden;
}
.message:hover {
    background-color: #c3beff;
    transition: 0.3s;
}

.subtitle {
    font-size: 1.5vw;
    color: gray;
    margin-bottom: 0.7vw;
}

.message-upper-container {

    display: flex;
    align-items: center;
    gap:5rem;

}

.delete-message-icon{
    margin-left: auto;
}
.delete-message-icon:hover {
    transform: scale(1.2);
    animation: jiggle 0.5s infinite linear;
}

.message-card-title{
    color: #5f4bc4;
}
.message-card-title.read{
    color:#808080;
    opacity:0.2;
    font-weight: 300;
}



@keyframes jiggle {
    /* start at 0deg and this scale size.
       scale size is repeated here to maintain smooth scaling */
    0% {transform: rotate(0deg) scale(1.15,1.15);}
    /* midway rotate 2deg right */
    50% {transform: rotate(10deg) scale(1.15,1.15);}
    /* end rotate -2deg left */
    100% {transform: rotate(-10deg) scale(1.15,1.15)}
}

@media screen and (max-width: 1000px) and (min-width: 600px){
    .message-card-title{
        font-size: 1.6rem;
    }
    .message-upper-container{
        gap:1rem;
    }

    .unread-dot{
        font-size: 8px;
    }
    .delete-message-icon{
        font-size: 18px;
    }
}
@media screen and (max-width: 600px) {
    .message-card-title{
        font-size: 1rem;
    }
    .message-upper-container{
        gap:10px;
    }

    .unread-dot{
        font-size: 8px;
    }
    .delete-message-icon{
        font-size: 15px;
    }
}
