.event-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #e3e0ff;
}

/*.event-list-tool-bar{*/
/*    display:flex;*/
/*    align-items: center;*/
/*}*/
/*.add-event-button{*/
/*    position: absolute;*/
/*    right: 10%;*/
/*}*/

.add-event-button {
  margin-left: 10px;
  width: 14vw;
  background-color: white !important;
}

.search-button,
.add-event-button {
  color: #271ca1 !important;
  border-color: #271ca1 !important;
}

.add-event-button:hover {
  cursor: pointer;
  background-color: #271ca1 !important;
  color: white !important;
}

.search-button:hover {
  background-color: #271ca1 !important;
  color: white !important;
}

.empty-page-message {
  margin-top: 100px;
  font-size: 20px;
}
