.card {
    margin-top: 2vh;
    width: 85vw
}

.circularImageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardTitle {
    font-size: 4vw;
}

.cardText {
    font-size: 2vw;
    margin-bottom: 8px;
}

.image {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;

    /*adpative image position*/
    object-fit: cover;
}