
.user-card {
    width: 60%;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user-event-card-button {
    border-radius: 30px !important;
    font-size: 20px !important;
    width: 9.5rem !important;
}

.see-more-button {
    margin-top: 20px;
}

.circular-image-wrapper {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.card-body {
    padding: 10px 0px 10px 0px !important;
}

.user-event-card-title {
    font-size: 3vw !important;
    color: #5f4bc4;
}


hr.solid {
    border-top: 3px solid #bbb;
    margin: 0 auto;
}

.card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw;
}

.user-event-participant-title {
    font-size: 1.5vw;
}

.user-event-participant-profile-image {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;

    /*adpative image position*/
    object-fit: cover;
}

.user-event-participant-list-container {
    display: flex;
    gap: 10px;
    cursor: pointer;
}


.user-event-description-container {
    padding-top: 1vw;
}

.user-event-description-container p {
    font-size: 1.5vw;
    color: black;
    font-weight: bold !important;
}

.card-header {
    padding: 2vw !important;
}

.user-event-participants-container {
    margin-top: 2.5vw !important;
}

.no-event-img{
    height: 200px;
    margin-top: 20px;
}