.landing-page-container {
    display: flex;
    justify-content: space-evenly;
    background-color: #C3BEFF;
    height: 100vh;
    flex-direction: row;
}
@media (max-width: 1000px) {
    .landing-page-container {
      flex-direction: column;
    }
}

.sign-in-button {
    display: flex;
    justify-content: center;
}

.app-image {
    height: 90vh !important;
}

.col-left {
    display: flex;
    align-items: center;
}

.col-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;

}
@media (max-width: 1000px) {
    .col-right {
      width: auto;
      padding: 20px;
    }
}

.logo-container {
    display: flex;
    align-items: center;
    /* gap: 2rem; */

}

.small-logo {
    height: 160px;
}

.blurb {
    font-size: 18px;
}

.app-name{
    font-family: 'Graduate', cursive;
    font-weight: bold;
    font-weight: bold;
    color: #4e2780;
    font-size: 5vw;
    font-family: 'Graduate', cursive;
}

/* @media (max-width:1000px) {
    .blurb {
        font-size:15px;
    }

    .small-logo {
        display: none;
    }

} */

@media (max-width:1000px) {
    .app-image {
        display:none;
    }

}
